.modal-dialog
  .modal-content
    = form_tag reports_path, remote: true, class: "form-horizontal", role: "form" do
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4.modal-title.text-center= t(:reports)[:invoice_report]
      .modal-body
        #modal_errors
        .row
          .col-md-12
            = hidden_field_tag "report_type", report_type
            .form-group
              = label_tag "title", t(:documents)[:title], class: "col-sm-3 control-label"
              .col-sm-9
                = text_field_tag "title", title, class: 'form-control'
            .form-group
              = label_tag "start_date", t(:reports)[:start_date], class: "col-sm-3 control-label"
              .col-sm-9
                = text_field_tag "start_date", nil, class: "datepicker form-control"
            .form-group
              = label_tag "end_date", t(:reports)[:end_date], class: "col-sm-3 control-label"
              .col-sm-9
                = text_field_tag "end_date", nil, class: "datepicker form-control"
            .form-group
              = label_tag "institution", t(:reports)[:institution], class: "col-sm-3 control-label"
              .col-sm-9
                = select_tag "institution", options_from_collection_for_select(@institutions, "id", "name"), multiple: true, include_blank: "Select An Institution", 'data-live-search' => true, class: "selectpicker form-control", id: "institution_select"
            .form-group{style: 'display:none'}
              = label_tag "provider", t(:reports)[:provider], class: "col-sm-3 control-label"
              .col-sm-9#provider_section
            /     = select_tag "provider", options_from_collection_for_select(@providers, "id", "name"), include_blank: "Select A Provider", 'data-live-search' => true, class: "selectpicker form-control", id: "provider_select"
            .form-group{style: 'display:none'}
              = label_tag "program", t(:reports)[:program], class: "col-sm-3 control-label"
              .col-sm-9#program_section
            /     = select_tag "program", options_from_collection_for_select(@programs, "id", "name"), include_blank: "Select A Program", 'data-live-search' => true, class: "selectpicker form-control", id: "program_select"
            .form-group{style: 'display:none'}
              = label_tag "core", t(:reports)[:core], class: "col-sm-3 control-label"
              .col-sm-9#core_section
            .form-group
              = label_tag "protocol", t(:reports)[:protocols], class: "col-sm-3 control-label"
              .col-sm-9#protocol_section
                = select_tag "protocol_ids", options_from_collection_for_select(@protocols, "id", "short_title_with_sparc_id"), multiple: true, 'data-live-search' => true, class: "selectpicker form-control", id: "protocol_select"
              .col-sm-9.col-sm-offset-3
                %p= t(:reports)[:protocol_instructions]
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:reports)[:request_report]}
  / :javascript
  /   $(document).ready(function() {
  /     $('#institution_select').change(function() {
  /       console.log("institution selected")
  /       $.ajax({
  /         url: '/reports/update_providers',
  /         data: {
  /           institution_id : $('#institution_select').val()
  /         },
  /         dataType: "script"
  /       });
  /     });
  /     $('#provider_section').change(function() {
  /       console.log("provider selected")
  /       $.ajax({
  /         url: '/reports/update_programs',
  /         data: {
  /           provider_id : $('#provider_select').val()
  /         },
  /         dataType: "script"
  /       });
  /     });
  /     $('#program_section').change(function() {
  /       console.log("provider selected")
  /       $.ajax({
  /         url: '/reports/update_cores',
  /         data: {
  /           provider_id : $('#provider_select').val()
  /         },
  /         dataType: "script"
  /       });
  /     });
  /   });


          